name: Check for New Cats

# REQUIRED for scheduled workflows that push commits
permissions:
  contents: write

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  check_new_cats:
    runs-on: ubuntu-latest

    concurrency:
      group: check-new-cats
      cancel-in-progress: true


    steps:

    # let GitHub inject credentials automatically
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run the script
      run: python discord_webhook.py
      env:
        WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}

    - name: Commit and push changes
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

        git fetch origin
        git rebase origin/${{ github.ref_name }}

        git add tracked_hrefs.txt
        git commit -m "Update tracked URLs" || exit 0

        git push origin HEAD:${{ github.ref_name }}
